<style>
	.blogPreview {
		border: 1px solid #aaa;
		border-radius: 5px;
		padding: 20px;
	}
</style>

<div class="container-fluid">
	<div class="container">
		<div class="row">

			<div class="col-sm-1"></div>

			<div class="col-sm-10">
				<div class="blogPreview">
					<div class="row">

						<div class="col-sm-6 well">
							<!-- <img src="../../img/img9.jpg" alt="" style="width: 100%;"> -->
						</div>

						<div class="col-sm-6 well">
							<!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe dolorum, sint? Veritatis voluptates animi ut earum nemo sequi obcaecati. Consequuntur odio aspernatur maiores incidunt accusantium quas et mollitia, modi. Rem!</p> -->
						</div>

					</div>
				</div>
			</div>

			<div class="col-sm-1"></div>

		</div>
	</div>
</div>
